 

<ion-content class="ion-padding">
  <div><app-sidebar></app-sidebar></div>
  <ion-title class="ion-text-center" style="padding-top: 50px;">My Jobs</ion-title>
<ion-card>
   <ion-card-content class="cardBody">
  <!-- Top Controls -->
   <ion-row class="ion-align-items-center ion-justify-content-between table-controls">
        <ion-col size="6">
  Show
    <select placeholder="Entries per page" [(ngModel)]="entriesPerPage">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
entries
</ion-col>
 <ion-col size="6" class="ion-text-center">
  <ion-input placeholder="Search..." [(ngModel)]="searchQuery" debounce="300" ></ion-input>

    <!-- <ion-searchbar placeholder="Search..." [(ngModel)]="searchQuery" debounce="300"></ion-searchbar> -->
  </ion-col>
 
</ion-row>
  <!-- Mobile-First Card View -->
  <ion-list>
    <ion-item *ngFor="let job of filteredJobs(); let i = index" lines="full">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-left">
            <strong>{{ i + 1 }}</strong>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img [src]="job.company.logo" alt="Logo" class="logo-img" />
          </ion-col>
        </ion-row>

        <ion-row class="info-row">
          <ion-col size="12">
            <strong>Job Title:</strong> {{ job.job_title }} <br />
            <span class="job-type">{{ job.job_type }}</span>
          </ion-col>

          <ion-col size="12">
            <strong>Company:</strong> {{ job.company.name }} <br />
            <strong>Location:</strong> {{ job.company.location }}
          </ion-col>

          <ion-col size="12">
            <strong>Applicants:</strong> {{ job.applicants_count }}
          </ion-col>

          <ion-col size="12">
            <strong>Posted On:</strong> {{ job.posted_on }}
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-end">
          <ion-button fill="clear" size="small" (click)="presentActionSheet(job)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  
  <!-- Pagination Info -->
  <ion-text class="entry-info ion-text-center">
    Showing {{ startEntry }} to {{ endEntry }} of {{totalEntries }} entries
  </ion-text>
  


  </ion-card-content>
  </ion-card>
</ion-content>