<ion-header>
  <div class="toolbar">
    <p class="title-sub">2/3</p>

    <h1 class="title-main">Post Job</h1>
  </div>

  <div class="segment-toolbar">
    <div class="segments">
      <button class="segment-button disabled">Basic Details</button>
      <button class="segment-button active">Company Details</button>
      <button class="segment-button disabled">Job Details</button>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll-y="true">
  <ion-segment-view value="company">
    <ion-segment-content id="company">
      <form [formGroup]="company" class="scrollable-form">
        <div class="box">
          <h2 class="heading" style="text-align: center">Company Details</h2>

          <!-- Company Name -->
          <div>
            <ion-label position="stacked"
              >Company Name <span style="color: red">*</span></ion-label
            >
            <ion-input
              formControlName="companyname"
              placeholder="Enter company name"
            ></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="company.get('companyname')?.touched && company.get('companyname')?.invalid"
          >
            <small>Company name is required</small>
          </ion-text>

          <!-- Full Address -->
          <div>
            <ion-label position="stacked"
              >Full Address <span style="color: red">*</span></ion-label
            >
            <ion-input
              formControlName="companyaddress"
              placeholder="Enter full address"
            ></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="company.get('companyaddress')?.touched && company.get('companyaddress')?.invalid"
          >
            <small>Address is required</small>
          </ion-text>

          <!-- State -->
          <div>
            <ion-label position="stacked"
              >State <span style="color: red">*</span></ion-label
            >
            <ion-select
              formControlName="companystate"
              placeholder="Select state"
              (ionChange)="onStateChange($event.detail.value)"
            >
              <ion-select-option value="">Select one</ion-select-option>
              <ion-select-option
                *ngFor="let option of stateOptions"
                [value]="option.id"
                >{{ option.name }}</ion-select-option
              >
            </ion-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="company.get('companystate')?.touched && company.get('companystate')?.invalid"
          >
            <small>Field is required</small>
          </ion-text>

          <!-- City -->
          <div>
            <ion-label position="stacked"
              >City <span style="color: red">*</span></ion-label
            >

            <ion-select
              formControlName="companycity"
              placeholder="Select city"
              [disabled]="!company.get('companystate')?.value || cityOptions.length === 0"
            >
              <ion-select-option value="">Select one</ion-select-option>
              <ion-select-option
                *ngFor="let option of cityOptions"
                [value]="option.id"
                >{{ option.name }}</ion-select-option
              >
            </ion-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="company.get('companycity')?.touched && company.get('companycity')?.invalid"
          >
            <small>Field is required</small>
          </ion-text>

          <!-- Country -->
          <div>
            <ion-label position="stacked"
              >Country <span style="color: red">*</span></ion-label
            >
            <ion-input formControlName="companycountry" readonly></ion-input>
          </div>

          <!-- Google Map -->
          <div lines="none">
            <p class="label">
              Google Map Location
              <a
                (click)="openTutorial()"
                style="cursor: pointer; color: rgb(76, 192, 72)"
                >(How to get iframe)</a
              >
            </p>
          </div>

          <div *ngIf="isNewUser" class="label">
            <ion-input
              formControlName="google_map_loc"
              placeholder="Paste iframe code here"
            ></ion-input>
          </div>
          <div *ngIf="!isNewUser" class="map-container">
            <div
              class="map-content"
              [innerHTML]="company.get('google_map_loc')?.value"
            ></div>
          </div>

          <!-- Google Map Tutorial Modal -->
          <ion-modal
            *ngIf="showTutorial"
            [isOpen]="showTutorial"
            (didDismiss)="closeTutorial()"
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-title>Google Map Link Tutorial</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="closeTutorial()">
                      <ion-icon name="close"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <h2>Steps:</h2>
                <ol>
                  <li>
                    Open
                    <a href="https://www.google.com/maps" target="_blank"
                      >Google Maps</a
                    >
                    and search for the desired location.
                  </li>
                  <li>Click on the <b>Share</b> button.</li>
                  <li>Select the <b>Embed a map</b> tab.</li>
                  <li>Copy the provided HTML iframe code.</li>
                  <li>Paste the iframe code.</li>
                </ol>
                <img src="../../../assets/embed-map.jpg" alt="" />
              </ion-content>
            </ng-template>
          </ion-modal>

          <!-- Company Website -->
          <div>
            <ion-label>Company Website</ion-label>
            <ion-input
              formControlName="companywebsite"
              placeholder="Enter website URL"
            ></ion-input>
          </div>

          <!-- About the Company -->
          <div>
            <ion-label class="label">About the Company</ion-label>
          </div>
          <ion-textarea
            autoGrow="false"
            formControlName="companydesc"
            placeholder="Write a brief description"
          ></ion-textarea>
          <ion-text
            color="danger"
            *ngIf="company.get('companydesc')?.touched && company.get('companydesc')?.invalid"
          >
            <small>Field is required</small>
          </ion-text>

          <!-- Industry Type -->
          <div>
            <ion-label position="stacked"
              >Industry Type <span style="color: red">*</span></ion-label
            >
            <ion-select
              formControlName="industrytype"
              placeholder="Select industry"
            >
              <ion-select-option value="">Select one</ion-select-option>
              <ion-select-option
                *ngFor="let option of industryTypeOptions"
                [value]="option.id"
                >{{ option.value }}</ion-select-option
              >
            </ion-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="company.get('industrytype')?.touched && company.get('industrytype')?.invalid"
          >
            <small>Field is required</small>
          </ion-text>

          <!-- Number of Employees -->
          <div>
            <ion-label position="stacked">Number of Employees</ion-label>
            <ion-input
              type="number"
              formControlName="numemployees"
              placeholder="Enter number"
            ></ion-input>
          </div>

          <!-- Year of Establishment -->
          <div>
            <ion-label position="stacked">Year of Establishment</ion-label>
            <ion-input
              type="number"
              formControlName="companyestb"
              placeholder="Enter year"
            ></ion-input>
          </div>

          <!-- Navigation Buttons -->
          <div class="btn">
            <ion-button shape="round" class="submitbtn" (click)="previousPage()"
              >Back
            </ion-button>
            <ion-button
              shape="round"
              class="submitbtn"
              (click)="submitForm()"
              type="submit"
              [disabled]="company.invalid"
              *ngIf="isNewUser"
              >Save & Continue</ion-button
            >

            <ion-button
              shape="round"
              class="submitbtn"
              (click)="onlyNavigate()"
              *ngIf="!isNewUser"
              >Next</ion-button
            >
          </div>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
