<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">2/3</ion-title>
    <ion-title>Post Job</ion-title>

    <!-- <ion-button slot="end" id="supporttitle" >
      <ion-icon name="call-outline"></ion-icon>Call customer support
    </ion-button> -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="company">
     
      <ion-segment-button value="basic"  content-id="" click="basicpg()" >
        <ion-label class="ion-text-wrap">Basic Details</ion-label>
      </ion-segment-button>
      <ion-segment-button
        value="company"
        content-id="company"
        style="background-color: purple; color: white !important"
      >
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
       <ion-segment-button value="job" >
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-segment-view value="company">
    <ion-segment-content id="company">
      <form [formGroup]="company" (ngSubmit)="nextStep2()" class="scrollable-form">
        <div class="box">
          <h2 class="heading">Company Details</h2>

          <p>Company Name<span style="color: red">*</span></p>
          <input type="text" formControlName="companyname" />
          <ion-text color="danger" *ngIf="company.get('companyname')?.touched && company.get('companyname')?.invalid">
            <small *ngIf="company.get('companyname')?.errors?.['required']">Company name is required</small>
          </ion-text>

          <p>Full Address<span style="color: red">*</span></p>
          <input type="text" formControlName="companyaddress" />
          <ion-text color="danger" *ngIf="company.get('companyaddress')?.touched && company.get('companyaddress')?.invalid">
            <small *ngIf="company.get('companyaddress')?.errors?.['required']">Company address is required</small>
          </ion-text>

          <p>State<span style="color: red">*</span></p>
          <select formControlName="companystate" [(ngModel)]="selectedState" (ngModelChange)="onStateChange($event)">


            <option value="">Select one</option>
            <option *ngFor="let option of stateOptions" [value]="option.id">{{ option.name }}</option>
          </select>
          <ion-text color="danger" *ngIf="company.get('companystate')?.touched && company.get('companystate')?.invalid">
            <small *ngIf="company.get('companystate')?.errors?.['required']">Field is required</small>
          </ion-text>

          <p>City
           <span style="color: red">*</span></p>
          <select formControlName="companycity"  [disabled]="!company.get('companystate')?.value || cityOptions.length === 0">
            <option value="">Select one</option>
            <option *ngFor="let option of cityOptions" [value]="option.id">{{ option.name }}</option>
          </select>
          <ion-text color="danger" *ngIf="company.get('companycity')?.touched && company.get('companycity')?.invalid">
            <small *ngIf="company.get('companycity')?.errors?.['required']">Field is required</small>
          </ion-text>

          <p>Country<span style="color: red">*</span></p>
          <input type="text" formControlName="companycountry"  readonly/>
        

  <p > Google map Location
    <a (click)="openTutorial()" style="cursor:pointer; color:blue;">link</a>
  </p>

  <ion-input *ngIf="isNewUser" type="text"  formControlName="google_map_loc"  placeholder="Paste iframe code here" ></ion-input>
   <div *ngIf="!isNewUser" [innerHTML]="company.get('google_map_loc')?.value"></div>

<ion-modal [isOpen]="showTutorial" (didDismiss)="closeTutorial()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Google Map Link Tutorial</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeTutorial()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <h2>Steps:</h2>
      <ol>
        <li>Open <a href="https://www.google.com/maps" target="_blank">Google Maps</a> and search for the desired location.</li>
        <li>Click on the <b>Share</b> button.</li>
        <li>Select the <b>Embed a map</b> tab.</li>
        <li>Copy the provided HTML iframe code.</li>
        <li>Paste the iframe code.</li>
      </ol>
       <img src="../../../assets/embed-map.jpg" alt="">

    </ion-content>
  </ng-template>
</ion-modal>

          <p>Company Website</p>
          <input type="text" formControlName="companywebsite" />
          <ion-text color="danger" *ngIf="company.get('companywebsite')?.touched && company.get('companywebsite')?.invalid">
            <small *ngIf="company.get('companywebsite')?.errors?.['required']">Field is required</small>
          </ion-text>

          <p>About the Company</p>
          <ion-textarea autoGrow="true" formControlName="companydesc"></ion-textarea>
          <ion-text color="danger" *ngIf="company.get('companydesc')?.touched && company.get('companydesc')?.invalid">
            <small *ngIf="company.get('companydesc')?.errors?.['required']">Field is required</small>
          </ion-text>

          <p>Industry Type <span style="color: red">*</span></p>
          <select formControlName="industrytype" [(ngModel)]="selectedIndustryType">
            <option value="">Select one</option>
            <option *ngFor="let option of industryTypeOptions" [value]="option.id">{{ option.value }}</option>
          </select>
          <ion-text color="danger" *ngIf="company.get('industrytype')?.touched && company.get('industrytype')?.invalid">
            <small *ngIf="company.get('industrytype')?.errors?.['required']">Field is required</small>
          </ion-text>

          <p>Number of Employees</p>
          <input type="number" formControlName="numemployees" />
          <!-- <ion-text color="danger" *ngIf="company.get('numemployees')?.touched && company.get('numemployees')?.invalid">
            <small *ngIf="company.get('numemployees')?.errors?.['required']">Field is required</small>
          </ion-text> -->

          <p>Year of Establishment</p>
          <input type="number" formControlName="companyestb" />
          <!-- <ion-text color="danger" *ngIf="company.get('companyestb')?.touched && company.get('companyestb')?.invalid">
            <small *ngIf="company.get('companyestb')?.errors?.['required']">Field is required</small>
          </ion-text> -->
 
          <div class="btn">
            <ion-button  shape="round"  class="submitbtn"  (click)="previousPage()">Back</ion-button>
            <ion-button    shape="round" class="submitbtn"  (click)="submitForm()" type="submit" [disabled]="company.invalid" *ngIf="isNewUser">Save & continue</ion-button>
            <ion-button    shape="round"  class="submitbtn"  (click)="onlyNavigate()" *ngIf="!isNewUser" >Next </ion-button>
          </div>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>