<ion-card>
  <ion-card-header class="btn" style="font-size: 1.5rem; text-align: center">
    {{ plan.duration + " " + "Plan" }}
  </ion-card-header>

  <ion-card-content>
    <div style="text-align: center">
      <p style="font-size: 1.3rem; margin-top: 15px">₹ {{ plan.price }}</p>
      <p>Unlimited Candidate Responses</p>
      <p>{{ plan.candidate_unlock }} candidate unlocks</p>
      <p>{{ plan.jobs_live }} job(s) live</p>
      <p>Valid for {{ plan.duration }}</p>
      <p>{{ plan.jobs_boost }} job boosts</p>
    </div>

    <div style="text-align: center">
      <ion-button class="btn" (click)="onPurchaseClick()">
        PURCHASE NOW
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
