<!-- <ion-card class="plan-card">
  <ion-card-header class="btn">
    <ion-card-title class="plan-title">{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2 class="plan-price">₹ {{ price }}</h2>
    <p>{{ responses }}</p>
    <p>{{ unlocks }}</p>
    <p>{{ jobsLive }}</p>
    <p>{{ validity }}</p>
    <p>{{ boosts }}</p>

    <ion-button expand="block" class="btn">Purchase Now</ion-button>
  </ion-card-content>
</ion-card> -->
<!-- <ion-card class="plan-card">
  <ion-card-header class="btn">
    <ion-card-title class="plan-title">{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <h2 class="plan-price">₹ {{ price }}</h2>
    <p>{{ responses }}</p>
    <p>{{ unlocks }}</p>
    <p>{{ jobsLive }}</p>
    <p>{{ validity }}</p>
    <p>{{ boosts }}</p>

        <ion-button expand="block" class="btn" (click)="openCheckoutModal()">Purchase Now</ion-button>
    
  </ion-card-content>
</ion-card> -->
<ion-card>
  <ion-card-header>
    <ion-button class="btn">{{ plan.duration +" "+"plan" }}</ion-button>
  </ion-card-header>

  <ion-card-content >
    <div style="text-align:center;">
          <p>₹ {{ plan.price }}</p>
          <p>Unlimited Candidate Responses</p>
            <p>{{ plan.candidate_unlock }} candidate unlocks</p>
    <p>{{ plan.jobs_live }} job(s) live</p>
    <p>Valid for {{ plan.duration }}</p>
    <p>{{ plan.jobs_boost }} job boosts</p>
    </div>

    <ion-button  class="btn" expand="block" color="primary" (click)="onPurchaseClick()">
      PURCHASE NOW
    </ion-button>
  </ion-card-content>
</ion-card>