<!-- <div id="splash-screen" class="splash-screen">
  <div id="lottie" class="lottie-container"></div>
</div> -->
<ion-content class="splash-screen">
  <div class="content">
    <div class="top-logo">
      <!-- <h1>dsdsd</h1> -->
      <!-- <img src="assets/splash-logo.png" class="logo" /> -->
      <img
        src="../../../assets/kaamchor-logo.svg"
        class="block logo logo-light dark:hidden"
        alt="Logo for light theme"
      />
      <!-- </div> -->
      <!-- <div style="  display: flex;justify-content: center;"> -->
      <img
        src="../../../assets/icons/kc_login_logo.svg"
        class="hidden logo logo-dark dark:block"
        alt="Logo for dark theme"
      />
    </div>

    <div class="bottom-image">
      <img src="assets/illustration.png" class="job-image" />
    </div>

    <ion-spinner name="crescent" class="spinner"></ion-spinner>
  </div>
</ion-content>
