<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">1/3</ion-title>
    <ion-title>Post Job </ion-title>

    <ion-button slot="end" id="supporttitle" color="tertiary">
      <ion-icon name="call-outline"></ion-icon>Call customer support</ion-button
    >
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="job">
      <ion-segment-button
        value="job"
        content-id=""
        style="background-color: purple; color: white !important"
      >
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company" content-id="">
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="basic" content-id="">
        <ion-label class="ion-text-wrap">Basic Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment-view value="job">
    <ion-segment-content id="job">
      <form [formGroup]="jobForm" (ngSubmit)="nextStep()">
        <div class="box">
          <h2 class="heading">Job Details</h2>
          <p>Job Title <span style="color: red">*</span></p>
          <input type="text" formControlName="jobTitle" />
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobTitle')?.touched &&
              jobForm.get('jobTitle')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['required']"
              >Name is required</small
            >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['minlength']"
              >Minimum 3 characters</small
            >
          </ion-text>
          <p>Job Category <span style="color: red">*</span></p>
         
          <!-- <select
            name=""
            id=""
            style="margin-bottom: 14px"
            formControlName="jobCategory"
             [(ngModel)]="selectedJobCategory"
             placeholder="Select a category"
          > -->
          <select
            name=""
            id=""
            style="margin-bottom: 14px"
            formControlName="jobCategory"
            
             placeholder="Select a category"
          >
            <option  *ngFor="let option of dropdownOptions" [value]="option.id">{{option.category_name}}</option>
            <option value ="">Select Job Category</option>  
          </select>

          
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobCategory')?.touched &&
              jobForm.get('jobCategory')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobCategory')?.errors?.['required']"
              >Job category is required</small
            >
          </ion-text>
          <p>Job Type <span style="color: red">*</span></p>
          <div class="job-type-toggle" >
            <ion-button
              shape="round"
              [fill]="jobtype === 'fulltime' ? 'solid' : 'outline'"
              [color]="jobtype === 'fulltime' ? 'tertiary' : 'medium'"
              (click)="selectjobType('fulltime')"
              type="button"
            >
              Full Time
            </ion-button>

            <ion-button
              shape="round"
              [fill]="jobtype === 'parttime' ? 'solid' : 'outline'"
              [ngClass]="jobtype === 'parttime' ? 'purple-button' : 'medium'"
              (click)="selectjobType('parttime')"
              type="button"
            >
              Part Time
            </ion-button>
            <input type="hidden" formControlName="jobType"  />
          </div>
<ion-text
              color="danger"    
              *ngIf="
                jobForm.get('jobType')?.touched &&
                jobForm.get('jobType')?.invalid
              "
            >
              <small *ngIf="jobForm.get('jobType')?.errors?.['required']"
                >Job Type is required</small
              >
            </ion-text>
          <p>No. of Positions Open <span style="color: red">*</span></p>
          <input type="number" formControlName="positionsOpen" />
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('positionsOpen')?.touched &&
              jobForm.get('positionsOpen')?.invalid
            "
          >
            <small *ngIf="jobForm.get('positionsOpen')?.errors?.['required']"
              >No. of positions is required</small
            >
          </ion-text>
          <p>Job Description <span style="color: red">*</span></p>
          <ion-textarea
            autoGrow="true"
            class="spacebottom"
            formControlName="jobDescription"
          >
          </ion-textarea>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobDescription')?.touched &&
              jobForm.get('jobDescription')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobDescription')?.errors?.['required']"
              >Job description is required</small
            >
          </ion-text>
          <p>Candidate Requirement <span style="color: red">*</span></p>
          <div
            class="candidate-type-toggle" 
          >
            <ion-button
              shape="round"
              [fill]="candidatetype === 'fresher' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'fresher' ? 'purple-button' : 'medium'"
              (click)="selectcanType('fresher')"
              type="button"
            >
              Fresher
            </ion-button>

            <ion-button
              shape="round"
              [fill]="candidatetype === 'experienced' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'experienced' ? 'purple-button' : 'medium'"
              (click)="selectcanType('experienced')"
              type="button"
            >
              Experienced
            </ion-button>
            <input type="hidden" formControlName="candidatetype" />
          </div>
          <ion-text
              color="danger"
              *ngIf="
                jobForm.get('candidatetype')?.touched &&
                jobForm.get('candidatetype')?.invalid">
              <small
                *ngIf="jobForm.get('candidatetype')?.errors?.['required']"
                >Candidate Requirement is required</small
              >
            </ion-text>
            <!-- Min/Max Experience Fields -->
<div *ngIf="candidatetype">
  <div *ngIf="candidatetype === 'fresher'">
    <p>Min Experience</p>
    <input formControlName="minexp" [value]="'Fresher'" readonly>
  </div>

  <div *ngIf="candidatetype === 'fresher'">
    <p>Max Experience</p>
    <input formControlName="maxexp" [value]="'Fresher'" readonly>
  </div>

  <div *ngIf="candidatetype === 'experienced'">
    <p>Min Experience</p>
    <input type="number" formControlName="minexp">
  </div>

  <div *ngIf="candidatetype === 'experienced'">
    <p>Max Experience</p>
    <input type="number" formControlName="maxexp">
  </div>
</div>
          <p>
            Select Gender <span style="color: red">*</span>
          </p>

          <div class="gender-type-toggle" >
            <ion-button
              shape="round"
              [fill]="isgender === 'male' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'male' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('male')"
              type="button"
            >
              Male
            </ion-button>

            <ion-button
              shape="round"
              [fill]="isgender === 'female' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'female' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('female')"
              type="button"
            >
              Female
            </ion-button>
           <input type="hidden" formControlName="isgender"  />
          </div>
           <ion-text
              color="danger"
              *ngIf="
                jobForm.get('isgender')?.touched && jobForm.get('isgender')?.invalid
              "
            >
              <small *ngIf="jobForm.get('isgender')?.errors?.['required']"
                >Gender field is required</small
              >
            </ion-text>
          <p>Candidate Location</p>
          <!-- <div class="location-toggle">

            <ion-button
              *ngFor="let location of locations"
              shape="round"
              [fill]="selectedLocation === 'location '? 'solid' : 'outline'"
              [color]="selectedLocation === 'location '? 'primary' : 'medium'"
              (click)="selectLocation(location)"
            >
              {{ location }}
            </ion-button>
           <input type="hidden" formControlName="locations" [value]="locations" />
          </div> -->
             <div class="location-toggle">
  <ion-button
    *ngFor="let location of locations"
    shape="round"
    [fill]="selectedLocation === location ? 'solid' : 'outline'"
    [ngClass]="selectedLocation === location ? 'purple-button' : 'medium'"
    (click)="selectLocation(location)"
    type="button"
  >
    {{ location }}
  </ion-button>

  <!-- Hidden form control with selected value -->
  <input type="hidden" formControlName="locations" [value]="selectedLocation" />
</div>
           <ion-text
              color="danger"
              *ngIf="
                jobForm.get('locations')?.touched &&
                jobForm.get('locations')?.invalid
              "
            >
              <small *ngIf="jobForm.get('locations')?.errors?.['required']"
                >Candidate Location is required</small
              >
            </ion-text>
          <p>Is this a work from home job? <span style="color: red">*</span></p>

          <div class="work-type-toggle" >
            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'yes' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'yes' ? 'purple-button': 'medium'"
              (click)="selectWorkType('yes')"
              type="button"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'no' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'no' ? 'purple-button' : 'medium'"
              (click)="selectWorkType('no')"
              type="button"
            >
              No
            </ion-button>
            <input type="hidden" formControlName="WorkFromHome"  />
          </div>
          <ion-text
              color="danger"
              *ngIf="
                jobForm.get('WorkFromHome')?.touched &&
                jobForm.get('WorkFromHome')?.invalid
              "
            >
              <small *ngIf="jobForm.get('WorkFromHome')?.errors?.['required']"
                >Choose any one option</small
              >
            </ion-text>
          <p>Minimum Qualification <span style="color: red">*</span></p>
          <div class="qualification-buttons" >
            <ion-button
              *ngFor="let level of qualification"
              [fill]="selectedQualifications === level ? 'solid' : 'outline'"
              [ngClass]="selectedQualifications === level ? 'purple-button' : 'medium'"
              shape="round"
              (click)="selectQualifications(level)"
              type="button"
            >
              {{ level }}
            </ion-button>
                 <input type="hidden" formControlName="qualification" [value]="selectedQualifications" />
 
            
          </div>
          <!-- <div class="qualification-buttons">
  <ion-button
    *ngFor="let level of qualificationLevels"
    [fill]="isSelected(level) ? 'solid' : 'outline'"
    [color]="isSelected(level) ? 'primary' : 'medium'"
    shape="round"
    (click)="toggleSelection(level)"
    type="button"
  >
    {{ level }}
  </ion-button> -->

  <!-- Hidden input to bind selected values to the form -->
  <!-- <input type="hidden" formControlName="qualification" [value]="selectedQualifications.join(', ')" />
</div> -->
          <ion-text
              color="danger"
              *ngIf="
                jobForm.get('qualification')?.touched &&
                jobForm.get('qualification')?.invalid
              "
            >
              <small *ngIf="jobForm.get('qualification')?.errors?.['required']"
                >Qualification field is required</small
              >
            </ion-text>
          <p>Salary per Month <span style="color: red">*</span></p>
          <input type="number" formControlName="salary" />
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('salary')?.touched && jobForm.get('salary')?.invalid
            "
          >
            <small *ngIf="jobForm.get('salary')?.errors?.['required']"
              >Feild is required</small
            >
          </ion-text>
          <p>Mention Skills required <span style="color: red">*</span></p>
          <ion-textarea
            autoGrow="true"
            class="txtarea"
            formControlName="skills"
          >
          </ion-textarea>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('skills')?.touched && jobForm.get('skills')?.invalid
            "
          >
            <small *ngIf="jobForm.get('skills')?.errors?.['required']"
              >Skills feild is required</small
            >
          </ion-text>
          <p>
            Is there any security deposit charged to the candidate (Eg. Uniform,
            Kit, Bike)? <span style="color: red">*</span>
          </p>
          <div class="security-toggle">
            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'yes' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'yes' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('yes')"
              type="button"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'no' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'no' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('no')"
              type="button"
            >
              No
            </ion-button> 
            <input type="hidden" formControlName="issecuritygiven"  />
          </div>
          <ion-text
              color="danger"
              *ngIf="
                jobForm.get('issecuritygiven')?.touched &&
                jobForm.get('issecuritygiven')?.invalid
              "
            >
              <small
                *ngIf="jobForm.get('issecuritygiven')?.errors?.['required']"
                >Choose any one option</small
              >
            </ion-text>
          <p>Languages Known <span style="color: red">*</span></p>

          <div><ion-label>Language 1</ion-label></div>
          <!-- <select class="langlabel" formControlName="language1"[(ngModel)]="selectedLanguage"> -->
          <select class="langlabel" formControlName="language1">

      <!-- <ion-select-option  *ngFor="let option of dropdownOptions" [value]="option.id">{{option.category_name}}</ion-select-option> -->
             <option *ngFor="let option of languageOptions" [value]="option.id">{{option.value}}</option>
            <option value="">Select option</option>
           
          </select>

          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>
          <ion-text color="danger" *ngIf="jobForm.get('language1')?.touched && jobForm.get('language1')?.invalid">
  <small *ngIf="jobForm.get('language1')?.errors?.['required']">Select any one Language</small>
</ion-text>
         <div> <ion-label>Language 2</ion-label></div>
          <select class="langlabel" formControlName="language2">
            <option value ="">Select option</option>
            <option value=""> </option>
            <option value="Hindi">Hindi</option>
            <option value="English">English</option>
            <option value="Punjabi">Punjabi</option>
            <option value="Marathi">Marathi</option>
            <option value="Gujrati">Gujrati</option>
            <option value="Maithali">Maithali</option>
            <option value="Bengali">Bengali</option>
          </select>
          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>
          <ion-text color="danger" *ngIf="jobForm.get('language2')?.touched && jobForm.get('language2')?.invalid">
  <small *ngIf="jobForm.get('language2')?.errors?.['required']">Select any one Language</small>
</ion-text>

          <p>Job Timing <span style="color: red">*</span></p>
          <label for="starttime">Start Time</label>
          <input
            type="time"
            name="starttime"
            id="starttime"
            class="jdinputspace"
            formControlName="jobStartTime"
          />
          <ion-text color="danger" *ngIf="jobForm.get('jobStartTime')?.touched && jobForm.get('jobStartTime')?.invalid">
  <small *ngIf="jobForm.get('jobStartTime')?.errors?.['required']">Feild is required</small>
</ion-text><br>
          <label for="endtime">End Time</label>
          <input
            type="time"
            name="endtime"
            id="endtime"
            class="jdinputspace"
            formControlName="jobEndTime"
          />
          <ion-text color="danger" *ngIf="jobForm.get('jobEndTime')?.touched && jobForm.get('jobEndTime')?.invalid">
  <small *ngIf="jobForm.get('jobEndTime')?.errors?.['required']">Feild is required</small>
</ion-text>
          <p>Interview Details <span style="color: red">*</span></p>
          <label for="time">Timing</label>
          <select
            name=""
            id="time"
            class="jdinputspace"
            formControlName="interviewTime"
          >
            <option value ="">Select Timings</option>
            <option value="9">9:00 AM - 11:00 AM</option>
            <option value="11">11:00 AM- 1:00 PM</option>
            <option value="14">2:00 PM - 4:00 PM</option>
            <option value="16">4:00 PM - 6:00 PM</option>
          </select>
          <ion-text color="danger" *ngIf="jobForm.get('interviewTime')?.touched && jobForm.get('interviewTime')?.invalid">
  <small *ngIf="jobForm.get('interviewTime')?.errors?.['required']">Select anyone timeslot</small>
</ion-text><br>
          <label for="day">Day</label>
          <select id="day" class="jdinputspace" formControlName="interviewDay">
            <option value="">Select Day</option>
            <option value="sun">Sunday</option>
            <option value="mon">Monday</option>
            <option value="tue">Tuesday</option>
            <option value="wed">Wednesday</option>
            <option value="thurs">Thursday</option>
            <option value="fri">Friday</option>
            <option value="sat">Saturday</option>
          </select>
<ion-text color="danger" *ngIf="jobForm.get('interviewDay')?.touched && jobForm.get('interviewDay')?.invalid">
  <small *ngIf="jobForm.get('interviewDay')?.errors?.['required']">Select any one day</small>
</ion-text>
          <!-- <ion-button
            expand="full"
            (click)="submit.emit()"
            type="submit"
           [disabled]="jobForm.invalid"
          >
            Next
          </ion-button> -->
          <ion-button
            expand="full"
           (click)="submitForm()"
            type="submit"
           [disabled]="jobForm.invalid"
          >
            Next
          </ion-button>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
