<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">1/3</ion-title>
    <ion-title>Post Job </ion-title>

    <ion-button slot="end" id="supporttitle" class="navbtna">
      <ion-icon name="call-outline"></ion-icon>Call customer support</ion-button
    >
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="job">
      <ion-segment-button
        value="job"
        content-id=""
        style="background-color: purple; color: white !important"
      >
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company" content-id="">
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="basic" content-id="">
        <ion-label class="ion-text-wrap">Basic Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-segment-view value="job">
    <ion-segment-content id="job">
      <form
        [formGroup]="jobForm"
        (ngSubmit)="nextStep()"
        class="scrollable-form"
      >
        <div class="box">
          <h2 class="heading">Job Details</h2>
          
          <ion-item>
            <ion-label position="stacked">Job Title <span style="color: red">*</span></ion-label>
            <ion-input 
              type="text" 
              formControlName="jobTitle"
              placeholder="Enter job title">
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobTitle')?.touched &&
              jobForm.get('jobTitle')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['required']"
              >Name is required</small
            >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['minlength']"
              >Minimum 3 characters</small
            >
          </ion-text>
          
          <p>Job Category <span style="color: red">*</span></p>
          <ng-select
            [items]="dropdownOptions"
            bindLabel="category_name"
            bindValue="id"
            placeholder=" Search to select a job category"
            formControlName="jobCategory"
            [searchable]="true"
          >
            <option *ngFor="let option of dropdownOptions" [value]="option.id">
              {{option.category_name}}
            </option>
          </ng-select>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobCategory')?.touched &&
              jobForm.get('jobCategory')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobCategory')?.errors?.['required']"
              >Job category is required</small
            >
          </ion-text>
          
          <p>Job Type <span style="color: red">*</span></p>
          <div class="job-type-toggle">
            <ion-button
              shape="round"
              [fill]="jobtype === 'fulltime' ? 'solid' : 'outline'"
              [ngClass]="jobtype === 'fulltime' ? 'purple-button' : 'medium'"
              (click)="selectjobType('fulltime')"
              type="button"
            >
              Full Time
            </ion-button>
            <ion-button
              shape="round"
              [fill]="jobtype === 'parttime' ? 'solid' : 'outline'"
              [ngClass]="jobtype === 'parttime' ? 'purple-button' : 'medium'"
              (click)="selectjobType('parttime')"
              type="button"
            >
              Part Time
            </ion-button>
            <ion-input type="hidden" formControlName="jobType"></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('jobType')?.touched &&
                jobForm.get('jobType')?.invalid
              "
          >
            <small *ngIf="jobForm.get('jobType')?.errors?.['required']"
              >Job Type is required</small
            >
          </ion-text>
          
          <ion-item>
            <ion-label position="stacked">No. of Positions Open <span style="color: red">*</span></ion-label>
            <ion-input 
              type="number" 
              formControlName="positionsOpen"
              placeholder="Enter number of positions">
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('positionsOpen')?.touched &&
              jobForm.get('positionsOpen')?.invalid
            "
          >
            <small *ngIf="jobForm.get('positionsOpen')?.errors?.['required']"
              >No. of positions is required</small
            >
          </ion-text>
          
          <p>Job Description <span style="color: red">*</span></p>
          <ion-textarea
            autoGrow="true"
            class="spacebottom"
            formControlName="jobDescription"
            placeholder="Enter job description">
          </ion-textarea>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('jobDescription')?.touched &&
              jobForm.get('jobDescription')?.invalid
            "
          >
            <small *ngIf="jobForm.get('jobDescription')?.errors?.['required']"
              >Job description is required</small
            >
          </ion-text>
          
          <p>Candidate Requirement <span style="color: red">*</span></p>
          <div class="candidate-type-toggle">
            <ion-button
              shape="round"
              [fill]="candidatetype === 'fresher' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'fresher' ? 'purple-button' : 'medium'"
              (click)="selectcanType('fresher')"
              type="button"
            >
              Fresher
            </ion-button>
            <ion-button
              shape="round"
              [fill]="candidatetype === 'experienced' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'experienced' ? 'purple-button' : 'medium'"
              (click)="selectcanType('experienced')"
              type="button"
            >
              Experienced
            </ion-button>
            <ion-input type="hidden" formControlName="candidatetype"></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('candidatetype')?.touched &&
                jobForm.get('candidatetype')?.invalid"
          >
            <small *ngIf="jobForm.get('candidatetype')?.errors?.['required']"
              >Candidate Requirement is required</small
            >
          </ion-text>
          
          <!-- Min/Max Experience Fields -->
          <div *ngIf="candidatetype">
            <div *ngIf="candidatetype === 'fresher'">
              <ion-item>
                <ion-label position="stacked">Min Experience</ion-label>
                <ion-input 
                  formControlName="minexp" 
                  [value]="'Fresher'" 
                  readonly>
                </ion-input>
              </ion-item>
            </div>

            <div *ngIf="candidatetype === 'fresher'">
              <ion-item>
                <ion-label position="stacked">Max Experience</ion-label>
                <ion-input 
                  formControlName="maxexp" 
                  [value]="'Fresher'" 
                  readonly>
                </ion-input>
              </ion-item>
            </div>

            <div *ngIf="candidatetype === 'experienced'">
              <ion-item>
                <ion-label position="stacked">Min Experience</ion-label>
                <ion-input 
                  type="number" 
                  formControlName="minexp"
                  placeholder="Enter minimum experience in years">
                </ion-input>
              </ion-item>
            </div>

            <div *ngIf="candidatetype === 'experienced'">
              <ion-item>
                <ion-label position="stacked">Max Experience</ion-label>
                <ion-input 
                  type="number" 
                  formControlName="maxexp"
                  placeholder="Enter maximum experience in years">
                </ion-input>
              </ion-item>
            </div>
          </div>
          
          <p>Select Gender <span style="color: red">*</span></p>
          <div class="gender-type-toggle">
            <ion-button
              shape="round"
              [fill]="isgender === 'male' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'male' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('male')"
              type="button"
            >
              Male
            </ion-button>
            <ion-button
              shape="round"
              [fill]="isgender === 'female' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'female' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('female')"
              type="button"
            >
              Female
            </ion-button>
             <ion-button
              shape="round"
              [fill]="isgender === 'other' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'other' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('other')"
              type="button"
            >
              Others
            </ion-button>
            <ion-input type="hidden" formControlName="isgender"></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('isgender')?.touched && jobForm.get('isgender')?.invalid
              "
          >
            <small *ngIf="jobForm.get('isgender')?.errors?.['required']"
              >Gender field is required</small
            >
          </ion-text>
          
          <p>Candidate Location</p>
          <div class="location-toggle">
            <ion-button
              *ngFor="let location of locations"
              shape="round"
              [fill]="selectedLocation === location ? 'solid' : 'outline'"
              [ngClass]="selectedLocation === location ? 'purple-button' : 'medium'"
              (click)="selectLocation(location)"
              type="button"
            >
              {{ location }}
            </ion-button>
            <ion-input
              type="hidden"
              formControlName="locations"
              [value]="selectedLocation">
            </ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('locations')?.touched &&
                jobForm.get('locations')?.invalid
              "
          >
            <small *ngIf="jobForm.get('locations')?.errors?.['required']"
              >Candidate Location is required</small
            >
          </ion-text>
          
          <p>Is this a work from home job? <span style="color: red">*</span></p>
          <div class="work-type-toggle">
            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'yes' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'yes' ? 'purple-button': 'medium'"
              (click)="selectWorkType('yes')"
              type="button"
            >
              Yes
            </ion-button>
            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'no' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'no' ? 'purple-button' : 'medium'"
              (click)="selectWorkType('no')"
              type="button"
            >
              No
            </ion-button>
            <ion-input type="hidden" formControlName="WorkFromHome"></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('WorkFromHome')?.touched &&
                jobForm.get('WorkFromHome')?.invalid
              "
          >
            <small *ngIf="jobForm.get('WorkFromHome')?.errors?.['required']"
              >Choose any one option</small
            >
          </ion-text>
          
          <p>Minimum Qualification <span style="color: red">*</span></p>
          <div class="qualification-buttons">
            <!-- <ion-button
              *ngFor="let level of qualification"
              [fill]="selectedQualifications === level ? 'solid' : 'outline'"
              [ngClass]="selectedQualifications === level ? 'purple-button' : 'medium'"
              shape="round"
              (click)="selectQualifications(level)"
              type="button"
            >
              {{ level }}
            </ion-button>
            <ion-input
              type="hidden"
              formControlName="qualification"
              [value]="selectedQualifications">
            </ion-input> -->
               <ng-select
            [items]="qualification"
            bindLabel="value"
            bindValue="id"
            placeholder=" Search to select a qualification"
            formControlName="qualification"
            [searchable]="true"
          >
            <option *ngFor="let option of qualification" [value]="option.id">
              {{option.value}}
            </option>
          </ng-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('qualification')?.touched &&
                jobForm.get('qualification')?.invalid
              "
          >
            <small *ngIf="jobForm.get('qualification')?.errors?.['required']"
              >Qualification field is required</small
            >
          </ion-text>
          
          <ion-item>
            <ion-label position="stacked">Salary per Month <span style="color: red">*</span></ion-label>
            <ion-input 
              type="number" 
              formControlName="salary"
              placeholder="Enter salary amount">
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('salary')?.touched && jobForm.get('salary')?.invalid
            "
          >
            <small *ngIf="jobForm.get('salary')?.errors?.['required']"
              >Field is required</small
            >
          </ion-text>

          <p>Mention Skills required <span style="color: red">*</span></p>
          <ng-select
            [items]="selectedSkills"
            bindLabel="value"
            bindValue="id"
            [multiple]="true"
            [searchable]="true"
            [closeOnSelect]="false"
            placeholder="Select skills"
            formControlName="skills"
            class="custom-ng-select"
            [addTag]="false"
            [clearable]="true"
          >
            <!-- Display chips for selected items -->
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="selected-skill-chip" *ngFor="let item of items">
                {{ item.value }}
                <span class="remove-chip" (click)="removeSkill(item)">✕</span>
              </div>
            </ng-template>
          </ng-select>
          <ion-text
            color="danger"
            *ngIf="
              jobForm.get('skills')?.touched && jobForm.get('skills')?.invalid
            "
          >
            <small *ngIf="jobForm.get('skills')?.errors?.['required']"
              >Skills field is required</small
            >
          </ion-text>
          
          <p>
            Is there any security deposit charged to the candidate (Eg. Uniform,
            Kit, Bike)? <span style="color: red">*</span>
          </p>
          <div class="security-toggle">
            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'yes' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'yes' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('yes')"
              type="button"
            >
              Yes
            </ion-button>
            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'no' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'no' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('no')"
              type="button"
            >
              No
            </ion-button>
            <ion-input type="hidden" formControlName="issecuritygiven"></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="
                jobForm.get('issecuritygiven')?.touched &&
                jobForm.get('issecuritygiven')?.invalid
              "
          >
            <small *ngIf="jobForm.get('issecuritygiven')?.errors?.['required']"
              >Choose any one option</small
            >
          </ion-text>
          
          <p>Languages Known <span style="color: red">*</span></p>
          <div><ion-label>Language 1</ion-label></div>
          <ng-select
            [items]="languageOptions"
            bindLabel="value"
            bindValue="id"
            placeholder=" Search to select a language"
         
            formControlName="language1"
            [searchable]="true"
          >
            <option *ngFor="let option of languageOptions" [value]="option.id">
              {{option.value}}
            </option>
            <option value="">Select option</option>
          </ng-select>
          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('language1')?.touched && jobForm.get('language1')?.invalid"
          >
            <small *ngIf="jobForm.get('language1')?.errors?.['required']"
              >Select any one Language</small
            >
          </ion-text>
          
          <div><ion-label>Language 2</ion-label></div>
          <ng-select
            [items]="languageOptions2"
            bindLabel="value"
            bindValue="id"
            placeholder=" Search to select a language"
           
            formControlName="language2"
            [searchable]="true"
          >
            <option *ngFor="let option of languageOptions2" [value]="option.id">
              {{option.value}}
            </option>
            <option value="">Select option</option>
          </ng-select>
          <div class="rws">
            <ion-checkbox>Read</ion-checkbox>
            <ion-checkbox>Write</ion-checkbox>
            <ion-checkbox>Speak</ion-checkbox>
          </div>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('language2')?.touched && jobForm.get('language2')?.invalid"
          >
            <small *ngIf="jobForm.get('language2')?.errors?.['required']"
              >Select any one Language</small
            >
          </ion-text>
          
          <p>Job Timing <span style="color: red">*</span></p>
          <ion-item>
            <ion-label position="stacked">Start Time</ion-label>
            <ion-input
              type="time"
              formControlName="jobStartTime">
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobStartTime')?.touched && jobForm.get('jobStartTime')?.invalid"
          >
            <small *ngIf="jobForm.get('jobStartTime')?.errors?.['required']"
              >Field is required</small
            >
          </ion-text>
          
          <ion-item>
            <ion-label position="stacked">End Time</ion-label>
            <ion-input
              type="time"
              formControlName="jobEndTime">
            </ion-input>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobEndTime')?.touched && jobForm.get('jobEndTime')?.invalid"
          >
            <small *ngIf="jobForm.get('jobEndTime')?.errors?.['required']"
              >Field is required</small
            >
          </ion-text>
          
          <p>Interview Details <span style="color: red">*</span></p>
          <ion-item>
            <ion-label position="stacked">Timing</ion-label>
            <ion-select formControlName="interviewTime" placeholder="Select Timings">
              <ion-select-option value="9:00 AM - 11:00 AM">9:00 AM - 11:00 AM</ion-select-option>
              <ion-select-option value="11:00 AM- 1:00 PM">11:00 AM- 1:00 PM</ion-select-option>
              <ion-select-option value="2:00 PM - 4:00 PM">2:00 PM - 4:00 PM</ion-select-option>
              <ion-select-option value="4:00 PM - 6:00 PM">4:00 PM - 6:00 PM</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('interviewTime')?.touched && jobForm.get('interviewTime')?.invalid"
          >
            <small *ngIf="jobForm.get('interviewTime')?.errors?.['required']"
              >Select any time slot</small
            >
          </ion-text>
          
          <ion-item>
            <ion-label position="stacked">Day</ion-label>
            <ion-select formControlName="interviewDay" placeholder="Select Day" [multiple]="true">
              <ion-select-option value="Sunday">Sunday</ion-select-option>
              <ion-select-option value="Monday">Monday</ion-select-option>
              <ion-select-option value="Tuesday">Tuesday</ion-select-option>
              <ion-select-option value="Wednesday">Wednesday</ion-select-option>
              <ion-select-option value="Thursday">Thursday</ion-select-option>
              <ion-select-option value="Friday">Friday</ion-select-option>
              <ion-select-option value="Saturday">Saturday</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('interviewDay')?.touched && jobForm.get('interviewDay')?.invalid"
          >
            <small *ngIf="jobForm.get('interviewDay')?.errors?.['required']"
              >Select any one day</small
            >
          </ion-text>

 <ion-checkbox
      formControlName="acceptTerms"
      labelPlacement="end"
      style="margin-top: 10px"
    >
      I Accept Terms and Conditions and <br />
      Privacy Policy <span style="color: red;">*</span>
    </ion-checkbox>
  

  <ion-text color="danger" *ngIf="jobForm.controls['acceptTerms'].touched && jobForm.controls['acceptTerms'].invalid">
    <p>You must accept the terms and conditions</p>
  </ion-text>

            <div class="btn">
          <ion-button
          expand="block"
           (click)="previousPage()">Back</ion-button>
          
          <ion-button
            expand="block"
            (click)="submitForm()"
            type="submit"
            [disabled]="jobForm.invalid"
          >
            Submit
          </ion-button>
          </div>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
