<ion-header>
  <div class="commonheader">
    <div class="toolbar">
      <p class="title-sub">1/3</p>

      <h1 class="title-main">Post Job</h1>
    </div>
    <div>
      <ion-button
        class="submitbtn"
        (click)="logout()"
        style="margin-right: 10px"
        >Logout</ion-button
      >
    </div>
  </div>

  <div class="segment-toolbar">
    <div class="segments">
      <button class="segment-button disabled">Basic Details</button>
      <button class="segment-button disabled">Company Details</button>
      <button class="segment-button active">Job Details</button>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true" scroll-y="true">
  <ion-segment-view value="job">
    <ion-segment-content id="job">
      <form [formGroup]="jobForm" class="scrollable-form">
        <div class="box">
          <h2 class="heading" style="text-align: center">Job Details</h2>

          <!-- Job Title -->
          <div>
            <ion-label>Job Title <span style="color: red">*</span></ion-label>
            <ion-input
              type="text"
              formControlName="jobTitle"
              placeholder="Enter job title"
              style="margin-bottom: 10px"
              autocapitalize="words"
            ></ion-input>
          </div>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobTitle')?.touched && jobForm.get('jobTitle')?.invalid"
          >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['required']"
              >Name is required</small
            >
            <small *ngIf="jobForm.get('jobTitle')?.errors?.['minlength']"
              >Minimum 3 characters</small
            >
          </ion-text>

          <!-- Job Category -->
          <div lines="none">
            <ion-label class="label"
              >Job Category <span style="color: red">*</span></ion-label
            >
          </div>

          <ng-select
            [items]="dropdownOptions"
            bindLabel="category_name"
            bindValue="id"
            placeholder="Search to select a job category"
            formControlName="jobCategory"
            [searchable]="true"
            [multiple]="false"
            [closeOnSelect]="false"
            [clearable]="false"
            class="custom-job-select"
          >
          </ng-select>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobCategory')?.touched && jobForm.get('jobCategory')?.invalid"
          >
            <small *ngIf="jobForm.get('jobCategory')?.errors?.['required']"
              >Job category is required</small
            >
          </ion-text>

          <!-- Job Type -->
          <div lines="none">
            <ion-label class="label"
              >Job Type <span style="color: red">*</span></ion-label
            >
          </div>

          <div class="job-type-toggle">
            <ion-button
              shape="round"
              [fill]="jobType === 'fulltime' ? 'solid' : 'outline'"
              [ngClass]="jobType === 'fulltime' ? 'purple-button' : 'medium'"
              (click)="selectjobType('fulltime')"
              type="button"
            >
              Full Time
            </ion-button>
            <ion-button
              shape="round"
              [fill]="jobType === 'parttime' ? 'solid' : 'outline'"
              [ngClass]="jobType === 'parttime' ? 'purple-button' : 'medium'"
              (click)="selectjobType('parttime')"
              type="button"
            >
              Part Time
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobType')?.touched && jobForm.get('jobType')?.invalid"
          >
            <small *ngIf="jobForm.get('jobType')?.errors?.['required']"
              >Job Type is required</small
            >
          </ion-text>

          <!-- No. of Positions Open -->
          <div lines="none">
            <ion-label class="label"
              >No. of Positions Open
              <span style="color: red">*</span></ion-label
            >
          </div>
          <ion-input
            type="number"
            formControlName="positionsOpen"
            placeholder="Enter number of positions"
            style="margin-bottom: 10px"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('positionsOpen')?.touched && jobForm.get('positionsOpen')?.invalid"
          >
            <small *ngIf="jobForm.get('positionsOpen')?.errors?.['required']"
              >No. of positions is required</small
            >
          </ion-text>

          <!-- Job Description -->
          <div lines="none">
            <ion-label class="label"
              >Job Description <span style="color: red">*</span></ion-label
            >
          </div>
          <ion-textarea
            autoGrow="false"
            formControlName="jobDescription"
            placeholder="Enter job description"
            style="margin-bottom: 10px"
            autocapitalize="sentences"
          ></ion-textarea>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobDescription')?.touched && jobForm.get('jobDescription')?.invalid"
          >
            <small *ngIf="jobForm.get('jobDescription')?.errors?.['required']"
              >Job description is required</small
            >
          </ion-text>

          <!-- Candidate Requirement -->
          <div lines="none">
            <ion-label class="label">
              Experience of Candidate
              <span style="color: red">*</span></ion-label
            >
          </div>

          <div class="candidate-type-toggle">
            <ion-button
              shape="round"
              [fill]="candidatetype === 'fresher' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'fresher' ? 'purple-button' : 'medium'"
              (click)="selectcanType('fresher')"
              type="button"
            >
              Fresher
            </ion-button>

            <ion-button
              shape="round"
              [fill]="candidatetype === 'experienced' ? 'solid' : 'outline'"
              [ngClass]="candidatetype === 'experienced' ? 'purple-button' : 'medium'"
              (click)="selectcanType('experienced')"
              type="button"
            >
              Experienced
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('candidatetype')?.touched && jobForm.get('candidatetype')?.invalid"
          >
            <small *ngIf="jobForm.get('candidatetype')?.errors?.['required']"
              >Candidate Requirement is required</small
            >
          </ion-text>

          <!-- Experience -->
          <ng-container *ngIf="candidatetype">
            <!-- For Fresher -->
            <ng-container *ngIf="candidatetype === 'fresher'">
              <div lines="none">
                <ion-label class="label">Min Experience</ion-label>
                <ion-input
                  formControlName="minexp"
                  value="Fresher"
                  readonly
                  style="margin-bottom: 10px"
                ></ion-input>
              </div>

              <div lines="none">
                <ion-label class="label">Max Experience</ion-label>
                <ion-input
                  formControlName="maxexp"
                  value="Fresher"
                  readonly
                  style="margin-bottom: 10px"
                ></ion-input>
              </div>
            </ng-container>

            <!-- For Experienced -->
            <ng-container *ngIf="candidatetype === 'experienced'">
              <div lines="none">
                <ion-label class="label">Min Experience</ion-label>
                <ion-select
                  formControlName="minexp"
                  placeholder="Select minimum years"
                  style="margin-bottom: 10px"
                >
                  <ion-select-option value="">Fresher</ion-select-option>
                  <ion-select-option *ngFor="let year of years" [value]="year"
                    >{{ year }} year{{ year > 1 ? 's' : '' }}</ion-select-option
                  >
                  <ion-select-option value="30+">30+ years</ion-select-option>
                </ion-select>
              </div>

              <div lines="none">
                <ion-label class="label">Max Experience</ion-label>
                <ion-select
                  formControlName="maxexp"
                  placeholder="Select maximum years"
                  style="margin-bottom: 10px"
                >
                  <ion-select-option *ngFor="let year of years" [value]="year"
                    >{{ year }} year{{ year > 1 ? 's' : '' }}</ion-select-option
                  >
                  <ion-select-option value="30+">30+ years</ion-select-option>
                </ion-select>
              </div>
            </ng-container>
          </ng-container>

          <!-- Gender -->
          <div lines="none">
            <ion-label class="label"
              >Select Gender <span style="color: red">*</span></ion-label
            >
          </div>

          <div class="gender-type-toggle">
            <ion-button
              shape="round"
              [fill]="isgender === 'male' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'male' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('male')"
              type="button"
            >
              Male
            </ion-button>

            <ion-button
              shape="round"
              [fill]="isgender === 'female' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'female' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('female')"
              type="button"
            >
              Female
            </ion-button>

            <ion-button
              shape="round"
              [fill]="isgender === 'other' ? 'solid' : 'outline'"
              [ngClass]="isgender === 'other' ? 'purple-button' : 'medium'"
              (click)="selectgenderType('other')"
              type="button"
            >
              Others
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('isgender')?.touched && jobForm.get('isgender')?.invalid"
          >
            <small *ngIf="jobForm.get('isgender')?.errors?.['required']"
              >Gender field is required</small
            >
          </ion-text>

          <!-- Candidate Location -->
          <div lines="none">
            <ion-label class="label"
              >Candidate Location <span style="color: red">*</span></ion-label
            >
          </div>

          <div class="location-toggle">
            <ion-button
              *ngFor="let location of locations"
              shape="round"
              [fill]="selectedLocation === location ? 'solid' : 'outline'"
              [ngClass]="selectedLocation === location ? 'purple-button' : 'medium'"
              (click)="selectLocation(location)"
              type="button"
            >
              {{ location }}
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('locations')?.touched && jobForm.get('locations')?.invalid"
          >
            <small *ngIf="jobForm.get('locations')?.errors?.['required']">
              Candidate Location is required
            </small>
          </ion-text>

          <!-- Work From Home -->
          <div lines="none">
            <ion-label class="label"
              >Is this a work from home job?
              <span style="color: red">*</span></ion-label
            >
          </div>

          <div class="work-type-toggle">
            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'yes' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'yes' ? 'purple-button' : 'medium'"
              (click)="selectWorkType('yes')"
              type="button"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="WorkFromHome === 'no' ? 'solid' : 'outline'"
              [ngClass]="WorkFromHome === 'no' ? 'purple-button' : 'medium'"
              (click)="selectWorkType('no')"
              type="button"
            >
              No
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('WorkFromHome')?.touched && jobForm.get('WorkFromHome')?.invalid"
          >
            <small *ngIf="jobForm.get('WorkFromHome')?.errors?.['required']">
              Choose any one option
            </small>
          </ion-text>

          <!-- Qualification -->
          <div lines="none">
            <ion-label class="label"
              >Minimum Qualification
              <span style="color: red">*</span></ion-label
            >
          </div>

          <ng-select
            [items]="qualification"
            bindLabel="value"
            bindValue="id"
            placeholder="Search to select a qualification"
            formControlName="qualification"
            [searchable]="true"
          >
          </ng-select>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('qualification')?.touched && jobForm.get('qualification')?.invalid"
          >
            <small *ngIf="jobForm.get('qualification')?.errors?.['required']">
              Qualification field is required
            </small>
          </ion-text>
          <!-- branch -->

          <!-- <div lines="none">
  <ion-label class="label">Branch Name<span style="color: red">*</span></ion-label>
</div>

<ng-select
  [items]="branch"
  bindLabel="value"
  bindValue="id"
  placeholder="Search to select a branch"
  formControlName="branch"
  [searchable]="true"
>
</ng-select>

<ion-text
  color="danger"
  *ngIf="jobForm.get('branch')?.touched && jobForm.get('branch')?.invalid"
>
  <small *ngIf="jobForm.get('branch')?.errors?.['required']">
    Branch field is required
  </small>
</ion-text> -->

          <!-- branch -->
          <!-- Salary -->
          <div lines="none">
            <ion-label class="label"
              >Expected Salary Range<span style="color: red">*</span></ion-label
            >
          </div>
          <!-- <ion-input
  type="number"
  formControlName="salary"
  placeholder="Enter salary amount"
  style="margin-bottom: 5px;"
></ion-input> -->
          <ion-input
            type="number"
            formControlName="minSalary"
            placeholder="Minimum Salary"
            style="margin-bottom: 5px"
          ></ion-input>
          <ion-input
            type="number"
            formControlName="maxSalary"
            placeholder="MaximumSalary"
            style="margin-bottom: 5px"
          ></ion-input>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('salary')?.touched && jobForm.get('salary')?.invalid"
          >
            <small *ngIf="jobForm.get('salary')?.errors?.['required']">
              Field is required
            </small>
          </ion-text>
          <ion-item lines="none">
            <ion-label class="label">
              Is Perks/Bonus (e.g. TA,DA, Joining Bonus) with Salary
            </ion-label>
          </ion-item>
          <!-- <ion-textarea formControlName="perks"  placeholder="e.g., Free lunch, Bonuses, Health cover,TA/DA" style="margin-bottom: 10px;"></ion-textarea> -->
          <div class="security-toggle">
            <ion-button
              shape="round"
              [fill]="perks === 'yes' ? 'solid' : 'outline'"
              [ngClass]="perks === 'yes' ? 'purple-button' : 'medium'"
              (click)="selectperks('yes')"
              type="button"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="perks === 'no' ? 'solid' : 'outline'"
              [ngClass]="perks === 'no' ? 'purple-button' : 'medium'"
              (click)="selectperks('no')"
              type="button"
            >
              No
            </ion-button>
          </div>
          <ion-label *ngIf="perks === 'yes'"
            >Select the available perks</ion-label
          >
          <ng-select
            *ngIf="perks === 'yes'"
            [items]="perksOptions"
            bindLabel="value"
            bindValue="id"
            placeholder="Search to select a perks options"
            formControlName="perksgiven"
            [searchable]="true"
            [multiple]="false"
            [closeOnSelect]="false"
            [clearable]="false"
            class="custom-job-select"
          >
          </ng-select>

          <!-- Skills -->
          <div lines="none">
            <ion-label class="label"
              >Mention Skills required
              <span style="color: red">*</span></ion-label
            >
          </div>
          <ng-select
            [items]="selectedSkills"
            bindLabel="value"
            bindValue="id"
            [multiple]="true"
            [searchable]="true"
            [closeOnSelect]="false"
            [clearable]="true"
            placeholder="Select skills"
            formControlName="skills"
            class="custom-skill-select"
            [addTag]="false"
          >
            <!-- Display selected skills as chips -->
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="selected-skill-chip" *ngFor="let item of items">
                {{ item.value }}
                <span class="remove-chip" (click)="removeSkill(item)">✕</span>
              </div>
            </ng-template>
          </ng-select>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('skills')?.touched && jobForm.get('skills')?.invalid"
          >
            <small *ngIf="jobForm.get('skills')?.errors?.['required']">
              Skills field is required
            </small>
          </ion-text>

          <!-- Security Deposit -->
          <ion-item lines="none">
            <ion-label class="label">
              Is there any security deposit charged to the candidate (Eg.
              Uniform, Kit, Bike)? <span style="color: red">*</span>
            </ion-label>
          </ion-item>

          <div class="security-toggle">
            <!-- <div >
  <ion-label class="label">
    Is there any security deposit charged to the candidate (Eg. Uniform, Kit, Bike)? <span style="color: red">*</span>
  </ion-label>
</div> -->
            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'yes' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'yes' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('yes')"
              type="button"
            >
              Yes
            </ion-button>

            <ion-button
              shape="round"
              [fill]="issecuritygiven === 'no' ? 'solid' : 'outline'"
              [ngClass]="issecuritygiven === 'no' ? 'purple-button' : 'medium'"
              (click)="selectsecurity('no')"
              type="button"
            >
              No
            </ion-button>
          </div>

          <ion-text
            color="danger"
            *ngIf="jobForm.get('issecuritygiven')?.touched && jobForm.get('issecuritygiven')?.invalid"
          >
            <small *ngIf="jobForm.get('issecuritygiven')?.errors?.['required']">
              Choose any one option
            </small>
          </ion-text>

          <!-- Languages Known -->
          <div lines="none">
            <ion-label class="label">
              Languages Known <span style="color: red">*</span>
            </ion-label>
          </div>

          <div formArrayName="languages">
            <div
              *ngFor="let langGroup of languages.controls; let i = index"
              [formGroupName]="i"
            >
              <!-- <ion-label>Language {{ i + 1 }}</ion-label> -->
              <ng-select
                [items]="languageOptions"
                bindLabel="value"
                bindValue="id"
                placeholder="Search to select a language"
                formControlName="language"
                [searchable]="true"
              ></ng-select>
              <ion-text
                color="danger"
                *ngIf="langGroup.get('language')?.touched && langGroup.get('language')?.invalid"
              >
                <small *ngIf="langGroup.get('language')?.errors?.['required']"
                  >Select any one Language</small
                >
              </ion-text>
              <div class="rws" formGroupName="rws">
                <ion-row>
                  <ion-col size="4">
                    <div class="language-btn">
                      <ion-checkbox
                        slot="start"
                        formControlName="read"
                        class="lang-checkbox"
                      ></ion-checkbox>
                      <span class="lang-label">Read</span>
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    <div class="language-btn">
                      <ion-checkbox
                        slot="start"
                        formControlName="write"
                        class="lang-checkbox"
                      ></ion-checkbox>
                      <span class="lang-label">Write</span>
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    <div class="language-btn">
                      <ion-checkbox
                        slot="start"
                        formControlName="speak"
                        class="lang-checkbox"
                      ></ion-checkbox>
                      <span class="lang-label">Speak</span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>

              <div class="languageAddRem">
                <ion-button
                  (click)="addLanguage()"
                  color="success"
                  [disabled]="languages.length > 4"
                  >Add</ion-button
                >
                <ion-button
                  (click)="removeLanguage(i)"
                  color="danger"
                  *ngIf="languages.length > 1"
                  >Remove</ion-button
                >
              </div>
            </div>
          </div>

          <!-- Job Timing -->
          <div lines="none" style="margin-top: 10px">
            <ion-label class="label">
              Job Timing <span style="color: red">*</span>
            </ion-label>
          </div>
          <!-- <ion-input type="text"  styformControlName="jobStartTime"le="margin-bottom: 10px;" placeholder="e.g 9:00 AM"></ion-input> -->

          <!-- <div>
  <ion-label >Start Time</ion-label>
  <ion-datetime presentation="time" hourCycle="h12" formControlName="jobStartTime"  style="margin-bottom: 10px;"></ion-datetime>
</div> -->
          <!-- <div  lines="none" class=" startEnd" (click)="showStartPicker = true"> -->
          <ion-item
            class="custom-input-item"
            button
            (click)="showStartPicker = true"
          >
            <ion-label>Start Time</ion-label>
            <ion-text slot="end">
              {{ jobForm.value.jobStartTime ?
              formatTime(jobForm.value.jobStartTime) : 'Select start time' }}
            </ion-text>
          </ion-item>
          <!-- </div> -->
          <ion-datetime
            *ngIf="showStartPicker"
            presentation="time"
            hourCycle="h12"
            formControlName="jobStartTime"
            (ionChange)="showStartPicker = false"
          ></ion-datetime>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobStartTime')?.touched && jobForm.get('jobStartTime')?.invalid"
          >
            <small *ngIf="jobForm.get('jobStartTime')?.errors?.['required']"
              >Field is required</small
            >
          </ion-text>

          <div>
            <!-- <ion-label >End Time</ion-label> -->
            <!-- <ion-datetime presentation="time" hourCycle="h12" formControlName="jobEndTime" style="margin-bottom: 10px;  " ></ion-datetime> -->
            <!-- <ion-input type="time" formControlName="jobEndTime"></ion-input> -->
            <!-- <ion-input type="text" formControlName="jobEndTime" style="margin-bottom: 10px;" placeholder="e.g 5:00 PM"></ion-input> -->
          </div>
          <!-- <div lines="none"  class=" startEnd" (click)="showEndPicker = true" style="margin-top:10px ;"> -->
          <ion-item
            class="custom-input-item"
            button
            (click)="showEndPicker = true"
          >
            <ion-label>End Time</ion-label>
            <ion-text slot="end">
              {{ jobForm.value.jobEndTime ? formatTime(jobForm.value.jobEndTime)
              : 'Select end time ' }}
            </ion-text>
          </ion-item>
          <!-- </div> -->
          <ion-datetime
            *ngIf="showEndPicker"
            presentation="time"
            hourCycle="h12"
            formControlName="jobEndTime"
            (ionChange)="showEndPicker = false"
          ></ion-datetime>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('jobEndTime')?.touched && jobForm.get('jobEndTime')?.invalid"
          >
            <small *ngIf="jobForm.get('jobEndTime')?.errors?.['required']"
              >Field is required</small
            >
          </ion-text>

          <!-- Interview Details -->
          <div lines="none">
            <ion-label class="label">
              Interview Details <span style="color: red">*</span>
            </ion-label>
          </div>

          <div>
            <ion-label>Timing</ion-label>
            <ion-select
              formControlName="interviewTime"
              placeholder="Select Timings"
              style="margin-bottom: 10px"
            >
              <ion-select-option value="9:00 AM - 11:00 AM"
                >9:00 AM - 11:00 AM</ion-select-option
              >
              <ion-select-option value="11:00 AM- 1:00 PM"
                >11:00 AM- 1:00 PM</ion-select-option
              >
              <ion-select-option value="2:00 PM - 4:00 PM"
                >2:00 PM - 4:00 PM</ion-select-option
              >
              <ion-select-option value="4:00 PM - 6:00 PM"
                >4:00 PM - 6:00 PM</ion-select-option
              >
            </ion-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('interviewTime')?.touched && jobForm.get('interviewTime')?.invalid"
          >
            <small *ngIf="jobForm.get('interviewTime')?.errors?.['required']"
              >Select any time slot</small
            >
          </ion-text>

          <div>
            <ion-label>Day</ion-label>
            <ion-select
              formControlName="interviewDay"
              placeholder="Select Day"
              [multiple]="true"
            >
              <ion-select-option value="Sunday">Sunday</ion-select-option>
              <ion-select-option value="Monday">Monday</ion-select-option>
              <ion-select-option value="Tuesday">Tuesday</ion-select-option>
              <ion-select-option value="Wednesday">Wednesday</ion-select-option>
              <ion-select-option value="Thursday">Thursday</ion-select-option>
              <ion-select-option value="Friday">Friday</ion-select-option>
              <ion-select-option value="Saturday">Saturday</ion-select-option>
            </ion-select>
          </div>
          <ion-text
            color="danger"
            *ngIf="jobForm.get('interviewDay')?.touched && jobForm.get('interviewDay')?.invalid"
          >
            <small *ngIf="jobForm.get('interviewDay')?.errors?.['required']"
              >Select any one day</small
            >
          </ion-text>

          <!-- Terms -->
          <ion-checkbox
            formControlName="acceptTerms"
            labelPlacement="end"
            style="margin-top: 10px"
          >
            I Accept Terms and Conditions and <br />Privacy Policy
            <span style="color: red">*</span>
          </ion-checkbox>

          <ion-text
            color="danger"
            *ngIf="jobForm.controls['acceptTerms'].touched && jobForm.controls['acceptTerms'].invalid"
          >
            <small>You must accept the terms and conditions</small>
          </ion-text>

          <div class="submit-buttons">
            <ion-button class="submitbtn" shape="round" (click)="previousPage()"
              >Back</ion-button
            >
            <ion-button
              class="submitbtn"
              shape="round"
              (click)="submitForm()"
              type="submit"
              [disabled]="jobForm.invalid"
              *ngIf="!isRecreate"
              >Submit</ion-button
            >
            <ion-button
              shape="round"
              class="submitbtn"
              (click)="submitForm()"
              type="submit"
              [disabled]="jobForm.invalid"
              *ngIf="isRecreate"
            >
              Recreate Job
            </ion-button>
          </div>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
