<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
     
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <div class="sidebarBtn">
    <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">
    <a   routerLink="/employer-plan" expand="block" class="menu-button">
      Dashboard
    </a></div>
<div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">
    <a   routerLink="/my-profile" expand="block" class="menu-button">
      <ion-icon  slot="start" name="person-outline" ></ion-icon> My Profile
    </a></div>
<div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">
    <a  routerLink="/candidate-list" expand="block" class="menu-button"><img  src="assets/icons/icons8-gallery-24.png" alt="">
      Candidate List
    </a></div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">
  <a  [routerLink]="'/my-jobs'" expand="block" class="menu-button"><ion-icon name="list-outline"></ion-icon>
    My Jobs
  </a>
</div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">

    <a   routerLink="/inactive-jobs" expand="block" class="menu-button"><ion-icon name="list-outline"></ion-icon>
      Inactive Jobs
    </a></div>
   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">

    <a   routerLink="/basic-details-page" expand="block" class="menu-button">
      Post Job
    </a></div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">

    <a  routerLink="/saved-candidates" expand="block" class="menu-button">
      <ion-icon name="bookmark-outline"  slot="start"></ion-icon> Saved Candidate
    </a></div>
   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sideButton">

     <a  routerLink="/account-setting" expand="block" class="menu-button"><ion-icon name="settings-outline"></ion-icon>
       Account Setting
    </a></div>

   <div class="sideButton">

    <a   expand="block" class="menu-button " (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon> Logout
    </a></div>
  </div>
</ion-content>

</ion-menu> -->

<!-- <div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img
        src="../../../assets/icons/kaam-chor-logo-removebg.png"
        style="opacity: 0.7"
        alt="logo"
      />
     
    </ion-toolbar>
  </ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menuId="main-menu"></ion-menu-button>
    </ion-buttons>
    <img
      src="../../../assets/icons/kaam-chor-logo-removebg.png"
      style="opacity: 0.7"
      alt="logo"
    />
    <!-- <ion-title>Page Title</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3 style="text-align: center">Employer Dashboard</h3>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Active Jobs / Allowed Jobs</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div *ngIf="planStatus==='paid'">
              <div class="cardbtnlower">
                <ion-button class="btn">{{activejobs}}</ion-button>
              </div>
            </div>
            <div *ngIf="planStatus!=='paid'">
              <div class="cardbtnlower">
                <ion-button class="btn">Not active plan</ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col
        ><ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Saved Candidates</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="cardbtnlower">
              <ion-button class="btn">{{savedCandidates}}</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Active Plan</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div *ngIf="planStatus==='paid'">
              <div class="cardbtnlower">
                <ion-button class="btn"> {{duration}} Plan</ion-button><br />
                <ion-text>Plan valid till {{planExpiryDate}}</ion-text>
              </div>
            </div>
            <div *ngIf="planStatus!=='paid'">
              <div class="cardbtnlower">
                <ion-button class="btn">Not active plan</ion-button><br />
                <!-- <ion-text>Not active plan</ion-text> -->
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="previousPlan">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Previous Plan</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{prevduration}} Plan</ion-text>
            <ion-text> Plan Expired on: {{ prevplanExpiryDate}}</ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="planStatus==='paid'">
    <ion-card>
      <ion-card-header
        class="btn"
        style="font-size: 1.5rem; text-align: center"
      >
        Your Current Plan
      </ion-card-header>

      <ion-card-content>
        <div style="text-align: center">
          <p>{{duration}} Plan</p>
          <p style="font-size: 1.3rem; margin-top: 15px">₹ {{ planAmount }}</p>
          <p>Unlimited Candidate Responses</p>
          <p>{{ planUnlock}} candidate unlocks</p>
          <p>{{ planJobslive }} job(s) live</p>
          <p>Valid for {{ duration }}</p>
          <p>{{ jobs_boost }} job boosts</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- <div *ngIf="planStatus!=='paid'"> -->

  <div style="text-align: center; padding: 10px">
    <ion-button class="btn">Recommended Pricing Plans for Employers</ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" *ngFor="let plan of plans">
        <app-plan-card [plan]="plan" (purchase)="openCheckoutModal($event)">
        </app-plan-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- </div> -->
</ion-content>
<!-- </div> -->
