.headeremp{
   background-color: aqua !important;
}
.btn{

  --background: purple;
  color: white !important;
}
.sidebarBtn{
  display: flex;
  flex-direction: column;
  // align-items: center;
  
}
.cardbtnlower{
  text-align: center;
 
}