<ion-header>
  <ion-toolbar style="--min-height: 100px">
    <ion-title style="padding-bottom: 15px">1/3</ion-title>
    <ion-title>Post Job </ion-title>

    <!-- <ion-button slot="end" id="supporttitle" 
      ><ion-icon name="call-outline"></ion-icon>Call customer
      support</ion-button
    > -->
  </ion-toolbar>
  <ion-toolbar>
    <!-- <ion-searchbar></ion-searchbar> -->

    <ion-segment value="basic">
     
       <ion-segment-button
        value="basic"
        content-id="basic"
        style="background-color: purple; color: white !important"
      >
        <ion-label class="ion-text-wrap">Basic Details{{isNewUser}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company" >
        <ion-label class="ion-text-wrap">Company Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="job" >
        <ion-label class="ion-text-wrap">Job Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment-view value="basic">
    <ion-segment-content id="basic">
      <form [formGroup]="basiclast" >
        <div class="box">
          <h2 class="heading" style="text-align: center;">Basic Details</h2>
          <p>Employer Name<span style="color: red">*</span></p>
          <input type="text" value="John" formControlName="emplname" />
          <ion-text
            color="danger"
            *ngIf="
              basiclast.get('emplname')?.touched &&
              basiclast.get('emplname')?.invalid
            "
          >
            <small *ngIf="basiclast.get('emplname')?.errors?.['required']"
              >Feild is required</small
            >
          </ion-text>
          <p>Email<span style="color: red">*</span></p>
          <input
            type="email"
          
            value=""
            formControlName="emplemail"
          />
          <small style="color: green"
            >--Candidates job application send on this email</small
          >
          <div>
            <ion-text
              color="danger"
              *ngIf="
                basiclast.get('emplemail')?.touched &&
                basiclast.get('emplemail')?.invalid 
              "
            > 
            <small *ngIf="basiclast.get('emplemail')?.errors?.['email']">
      Enter a valid email address
    </small>
              <small *ngIf="basiclast.get('emplemail')?.errors?.['required']"
                >Feild is required</small
              >
            </ion-text>
          </div>
          <p>Contact Person Profile<span style="color: red">*</span></p>
          <select
            name=""
            id=""
            placeholder="General "
            formControlName="contactperson"
           
          >
            <option value ="">Select one</option>
             <option *ngFor="let option of empProfileOptions" [value]="option.id">{{option.profile}}</option>
           
          </select>
          <ion-text
            color="danger"
            *ngIf="
              basiclast.get('contactperson')?.touched &&
              basiclast.get('contactperson')?.invalid
            "
          >
            <small *ngIf="basiclast.get('contactperson')?.errors?.['required']"
              >Feild is required</small
            >
          </ion-text>
          <p>Registered Mobile Number</p>
        
        <input class="mb_input"  type="tel"
        formControlName="emplnumber" name="mobileNumber" required minlength="10" maxlength="10" pattern="^[0-9]{10}$"
        (ionInput)="validatePhoneNumber($event)"  readonly>
          <small style="color: green"> --Candidates call in this number</small>
          <div>
            <ion-text
              color="danger"
              *ngIf="
                basiclast.get('emplnumber')?.touched &&
                basiclast.get('emplnumber')?.invalid
              "
            >
              <small *ngIf="basiclast.get('emplnumber')?.errors?.['required']"
                >Feild is required</small
              >
            </ion-text>
          </div>
       
        
          <div class="btn">
            <ion-button
              expand="block"
              class="submitbtn"
              (click)="submitForm()"
              [disabled]="basiclast.invalid"
               *ngIf="isNewUser"
              >Save & Continue</ion-button
            >
            <ion-button  expand="block" class="submitbtn"  (click)="onlyDashboard()"
             *ngIf="!isNewUser">Back to Dashboard</ion-button>
            <ion-button  expand="block" class="submitbtn"  (click)="onlyNavigation()"
             *ngIf="!isNewUser" >
              Next
            </ion-button>
          </div>
        </div>
      </form>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>
