<!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <div class="sidebarBtn">
    <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <ion-button   routerLink="/employer-plan" expand="block" class="menu-button">
      Dashboard
    </ion-button></div>
<div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <ion-button   routerLink="/my-profile" expand="block" class="menu-button">
      <ion-icon  slot="start" name="person" ></ion-icon> My Profile
    </ion-button></div>
<div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <ion-button  routerLink="/candidate" expand="block" class="menu-button">
      Candidate
    </ion-button></div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
  <ion-button  [routerLink]="'/my-jobs'" expand="block" class="menu-button">
    My Jobs
  </ion-button>
</div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">

    <ion-button   routerLink="/inactive-jobs" expand="block" class="menu-button">
      Inactive Jobs
    </ion-button></div>
   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">

    <ion-button   routerLink="/basic-details-page" expand="block" class="menu-button">
      Post Job
    </ion-button></div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">

    <ion-button  routerLink="/saved-candidates" expand="block" class="menu-button">
      <ion-icon name="bookmark"  slot="start"></ion-icon> Saved Candidate
    </ion-button></div>
   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">

    <ion-button  routerLink="/account-settings" expand="block" class="menu-button">
      <ion-icon name="settings"  slot="start"></ion-icon> Account Setting
    </ion-button></div>

   <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">

    <ion-button   routerLink="/splash-screen" expand="block" class="menu-button ">
      <ion-icon name="exit"  slot="start"></ion-icon> Logout
    </ion-button></div>
  </div>
</ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img
        src="../../../assets/icons/kaam-chor-logo-removebg.png"
        style="opacity: 0.7"
        alt="logo"
      />
      
    </ion-toolbar>
  </ion-header>


  </div> -->
   <ion-menu [menuId]="menuId" [contentId]="contentId" side="start" type="overlay">
  <ion-header>
    <ion-toolbar >
      <!-- <ion-title>Menu</ion-title> -->
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="closeMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item 
        *ngFor="let item of menuItems" 
        button 
        (click)="onItemClick(item)"
        [routerLink]="item.route"
        routerDirection="root"
         [class.active-menu-item]="isActiveRoute(item.route)"
        [class.logout-item]="item.action === 'logout'"
        class="menu-item"
        
        >
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>