
 <!-- <div class="main-container">
  <div class="sidebar-container"><app-sidebar></app-sidebar>
  </div> -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="sidebarBtn">
      <ion-button> <a href="employer-plan" style="text-decoration: none; color: black;">Dashboard</a></ion-button>
    <ion-button > <a href="my-profile" style="text-decoration: none; color: black;">  <ion-icon name="person" ></ion-icon>My  Profile</a></ion-button>
      <ion-button >Candidate</ion-button>
      <ion-button>My Jobs</ion-button>
      <ion-button>Inactive Jobs</ion-button>
      <ion-button> <a href="basic-details-page" style="text-decoration: none; color: black;">Post Job</a></ion-button>
      <ion-button
        ><ion-icon name="bookmark"></ion-icon>Saved Candidate</ion-button
      >
      <ion-button
        ><ion-icon name="settings"></ion-icon>Account Setting
      </ion-button>
      <ion-button><a href="splash-screen" style="text-decoration: none; color: black;"><ion-icon name="exit"></ion-icon>Logout</a></ion-button>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <img
        src="../../../assets/icons/kaam-chor-logo-removebg.png"
        style="opacity: 0.7"
        alt="logo"
      />
      <!-- <ion-title>Menu</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding ">
  <!-- Personal Details -->
    <form [formGroup]="profilePage" >
  <ion-card>

    <ion-card-header>
      <ion-card-title style="color: purple">Personal Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <p>Name</p>
        <input formControlName="employer_name">
     

      
      <p>Email</p>
        <input type="email" formControlName="email">
      

     
        <p>Mobile Number</p>
        <input type="tel" formControlName="reg_mb">
      

     
        <p>Profile</p>
        <select
            name=""
            id=""
            placeholder="General "
            formControlName="contact_person_profile"
           
          >
            <option value ="">Select one</option>
             <option *ngFor="let option of empProfileOptions" [value]="option.id">{{option.profile}}</option>
           
          </select>
        <!-- <input formControlName="contact_person_profile"> -->
      
    </ion-card-content>
  </ion-card>

  <!-- Company Details -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: purple">Company Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
        <p>Company Name</p>
        <input formControlName="company_name">
     

      
       <p>Industry Type</p>
       <select formControlName="industry_type" >
            
            <option *ngFor="let option of industryTypeOptions" [value]="option.id">{{ option.value }}</option>
          </select>
        <!-- <input formControlName="industry_type"> -->
      

      
        <p>Year of Establishment</p>
        <input type="number" formControlName="year_of_establishment">
     

      
        <p>Company Size</p>
        <input formControlName="comp_size">
      

      
       
        <p>Company Website</p>
        <input formControlName="comp_website">
     

     
      <p>About Company</p>
        <ion-textarea formControlName="abt_the_comp"></ion-textarea>
      
    </ion-card-content>
  </ion-card>

  <!-- Address & Location -->
  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: purple">Address & Location</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  
       <p>Company Full Address</p>
        <input formControlName="full_address">
      

     
       <p>Country</p>
        <input formControlName="country" readonly>
      

      
           <p>State</p>
           <select formControlName="state"  (ngModelChange)="onStateChange($event)">
            <option *ngFor="let option of stateOptions" [value]="option.id">{{ option.name }}</option>
          </select>
         <!-- <input formControlName="state"> -->
    

     
        <p>City</p>
         <select formControlName="city"  [disabled]="!profilePage.get('companystate')?.value || cityOptions.length === 0">
            <option *ngFor="let option of cityOptions" [value]="option.id">{{ option.name }}</option>
          </select>
        <!-- <input formControlName="city"> -->
      

      
        <p>Map Location</p>
        <input
          formControlName="google_map_loc"
         
          value="No location provided"
        >
     
    </ion-card-content>
  </ion-card>
  </form>
</ion-content>
</div>
