/* Style input and textarea fields inside ion-item */
ion-item {
  --background: #fff;
  --border-radius: 8px;
  --padding-start: 10px;
  --inner-padding-end: 10px;
  --highlight-color-focused: #511168; // purple focus
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

/* Style for ion-label when floating */
ion-label {
  font-size: 14px;
  color: #333;
}

/* Style input text */
input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  }

ion-textarea {
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 15px;
  color: #000;
}
select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }

/* Optional: Card spacing */
ion-card {
  margin-bottom: 20px;
  border:1px solid wheat;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
ion-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #511168; // Purple
}

.sidebarBtn{
  display: flex;
  flex-direction: column;
  // align-items: center;
  
}
.menu-button {
   width: 200px;
  //  border:1px solid purple;
   margin:4px;
   padding: 10px;
   text-decoration: none;
  text-align: left;
  background-color: #f6f9ff;
  color: #511168;
  
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #511168; // Light gray on hover
  color: #fff;
}

.active-link .menu-button {
  background-color: #511168 ; // Light blue when active
  color: #fff;
  font-weight: bold;
}
.sideButton{
 
  display: flex;
  text-align: left;
  // justify-content: flex-start!important;
   --padding-start: 16px; /* Optional spacing */
  --padding-end: 16px;
  
}